body {

  background: #0f172a;

  display: flex;

  justify-content: center;

  align-items: center;

  height: 100vh;

  margin: 0;

  font-family: Arial, sans-serif;

}


.phone {

  background: white;

  padding: 20px;

  border-radius: 20px;

  width: 320px;

  text-align: center;

  box-shadow: 0 10px 25px rgba(0,0,0,0.2);

}


.title {

  color: teal;

  margin-bottom: 10px;

}


.camera {

  width: 100%;

  border-radius: 15px;

  background: black;

}


.btnBox {

  margin-top: 15px;

  display: flex;

  justify-content: center;

  gap: 10px;

}


.startBtn {

  background: black;

  color: white;

  padding: 10px 15px;

  border: none;

  border-radius: 10px;

  cursor: pointer;

}


.captureBtn {

  background: teal;

  color: white;

  padding: 10px 15px;

  border: none;

  border-radius: 10px;

  cursor: pointer;

}


.preview {

  margin-top: 15px;

  width: 100%;

  border-radius: 10px;

}