body{

background:#0f172a;

display:flex;

justify-content:center;

align-items:center;

height:100vh;

font-family:Arial;

}


.phone{

background:white;

width:320px;

padding:20px;

border-radius:20px;

text-align:center;

}


.logo{

color:teal;

}


.camera{

background:black;

height:220px;

border-radius:15px;

display:flex;

justify-content:center;

align-items:center;

}


.circle{

width:150px;

height:150px;

border:2px dashed white;

border-radius:50%;

}


.title{

font-weight:bold;

}


.subtitle{

color:gray;

}


.captureBtn{

width:70px;

height:70px;

background:teal;

border-radius:50%;

border:8px solid #cfecec;

cursor:pointer;

}


.captureText{

color:teal;

font-weight:bold;

}


.result{

margin-top:15px;

font-weight:bold;

}